
.zz{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  }
  .new{
    text-size-adjust: 200px;
    margin: 0;
    padding: 20px;
    background-color: #33fdfd;
    float:left;
  }
  .cont{
    float: left;
  }
  
  
  .cont {
    float: right;
  }
  .cont b{
    float: left;
    text-align: left;
  }
  
  .cont a {
    display: block;
    color: rgb(17, 6, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .cont a:hover {
    background-color: #111;
  }
  .first{
     background-color: cadetblue;
     text-align: center;
     padding-bottom: 420px;
     padding-right: 75px;
  }
  .styled-image {
    width: 300px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    float: right;
 
}
.btn{
    background-color: cornflowerblue;
}
.sstyle-img {
    width: 350px;
    height: auto; 
    float: left;
 
}
 .Second{
    background-color: honeydew;
    text-align: center;
    padding-bottom: 420px;
    padding-top: 50px;

}
.firsticon{
    width: 100px; 
    height: auto;
    float: left;
    padding-left: 200px;
    padding-bottom: 1000px;
}
.secondicon{
    width: 100px; 
    height: auto; 
    float: left;
    padding-left: 50px;
}
.thirdicon{
    width: 100px; 
    height: auto;
    float: left;
    padding-left: 50px;
}
.fourthicon{
    width: 100px;
    height: auto; 
    float: left;
    padding-left: 50px;
}
.fiveicon{
    width: 100px; 
    height: auto; 
    float: left;
    padding-left: 50px;
}
.sixicon{
    width: 100px; 
    height: auto;
    float: left;
    padding-left: 50px;
}
.third{
  background-color: cadetblue;
  text-align: center;
  padding-bottom: 850px;


}

 .four{
  background-color: honeydew;
  text-align: center;
  padding-bottom: 100px;


   
  }
 
 .five{
  background-color: cadetblue;
  text-align: center;
  padding-bottom: 50px;
  float: center;
  padding: 100px;
}
.onee{
  width: 100px;
  height: auto; 
  float: 0;
  padding-left: 5px;
}

.threee{
  width: 100px; 
  height: auto; 
  padding-left: 5px;
  float: left;
}
.fourr{
  width: 100px;
  height: auto; 
  float: left;
  padding-left: 5px;
}
.fivee{
  width: 100px; 
  height: 100px; 
  float: left;
  padding-left: 5px;
}
.sixx{
  width: 100px;
  height: 100px; 
  float: left;
  padding-left: 5px;
}
ul{
  list-style-type: none;
}
#Table{
  padding-right: 200px;

}
#zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  }
  #zoom:hover {
  transform: scale(1.5);
  }
.copy{
  padding-right: 650px;
}
.hi{
  padding-right: 300px;
  padding-top: 20px;
}
.hii{
  padding-right: 300px;
  padding-bottom: 30px;
}
.hiii{
  padding-right: 300px;
  padding-bottom: 30px;
}
